<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPfGbdk92r00LDosglXd8IRRQXWseq5BA</string>
	<key>GCM_SENDER_ID</key>
	<string>386377151090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tyamoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tyamoapp-94a42</string>
	<key>STORAGE_BUCKET</key>
	<string>tyamoapp-94a42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386377151090:ios:810523140b6b9fb254c8eb</string>
</dict>
</plist>